h1 {
  font-size: 2em !important;
  font-weight: bolder !important;
  margin-bottom: 5px;
  margin-top: 30px;
  color: white;
}

h2 {
  font-size: 1.5em !important;
  font-weight: bolder !important;
  margin-bottom: 5px;
  margin-top: 30px;
  color: white;
}

h3 {
  font-size: 1.17em !important;
  font-weight: bolder !important;
  margin-bottom: 5px;
  margin-top: 30px;
  color: white;
}

h4 {
  font-size: 1em !important;
  font-weight: bolder !important;
  margin-bottom: 5px;
  margin-top: 30px;
  color: white;
}

h5 {
  font-size: 0.83em !important;
  font-weight: bolder !important;
  margin-bottom: 5px;
  margin-top: 30px;
  color: white;
}

h6 {
  font-size: 0.67em !important;
  font-weight: bolder !important;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

li {
  display: list-item;
}

a {
  color: #4caedb;
}
